*{
margin:0;
Padding:0;
box-sizing:border-box ;
}
/* Fonts import */
/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Noto Serif font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared items */
.display-flex{
  display: flex;
}
.content-width{
    max-width: 1140px;
    margin: 0 auto;
}
/* nav colors */
/* Home color  */
.home-color{
    color: #252432;
    height: 24px;
    width: 46px;
}
/* in between  */
.paragraph-color{
color: #8987A1;
height:24px;
width:73px;
}
.paragraph2-color2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
/* cart */
.cart-color{
color:#000000 ;
height:24px ;
width: 79px;
}
.orange-color{
    color: #E95A08;
    font-size: 65px;
    font-weight: bold;
}
.bold-font-color{
  color:#000000 ;
  font-size: 65px;
  font-weight: bold;
}


/* nav design */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

/* banner items */

.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-block: 120px;
}

h6{
   margin-top: 162px;
}
p.banner-para{
    margin-top: 15px;
}
.image-banner{
    margin-top: 106px;
    width: 570px;
    height: 355px;
}
