*{
margin:0;
Padding:0;
box-sizing:border-box ;
}
/* Fonts import */
/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Noto Serif font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared items */
.display-flex{
  display: flex;
}
.content-width{
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary{
  background-color: #E95A08;
  color: #FFFFFF;
  font-weight: 600;
  padding: 18px;
  width: 100%;
  font-size: 16px;
  border: none;
  gap:10px;
  margin-top: 19px;
  margin-bottom:19px;
}
/* nav colors */
/* Home color  */
.home-color{
    color: #252432;
    height: 24px;
    width: 46px;
}
/* in between  */
.paragraph-color{
color: #8987A1;
height:24px;
width:73px;
}
.paragraph2-color2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
/* cart */
.cart-color{
color:#000000 ;
height:24px ;
width: 79px;
}
.orange-color{
    color: #E95A08;
    font-size: 65px;
    font-weight: bold;
}
.bold-font-color{
  color:#000000 ;
  font-size: 65px;
  font-weight: bold;
}
.card-text-color{
  color: #111111;
  margin-left: 69px;
  margin-right: 69px;
}
/* nav design */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

/* banner items */

.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-block: 120px;
}

h6{
   margin-top: 162px;
}
p.banner-para{
    margin-top: 15px;
}
.image-banner{
    margin-top: 106px;
    width: 570px;
    height: 355px;
}

/* our plant */
.plant-header{
  font-size: 50px;
  text-align: center;
}
.plant-para{
  font-size: 22px;
  text-align: center;
  height: 54px;
  width: 888px;
  margin-left: 126px;
  margin-right: 126px;
  margin-top: 16px;

}

/* card design */
p.card-text{
  font-size: 22px;
}
.button{
  font-weight: 600;
  font-size: 16px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap:20px ;
  row-gap: 30px;
  margin-top: 30px;
}

/* badge section */
.lover-header{
  font-size: 50px;
  font-weight: bold;
}

.lover-section{
  margin-top: 210px;
}

.lover-text{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 38px;
  font-size: 22px;
}
.lover-section{
  justify-content: space-between;
}
.position-relative {
  position: relative;
}

.lover-image{
  height: 597px;
  width: 540px;
}
.trusted-badge {
  position: absolute;
  top: -135px;
  right: -100px; 
  width: 286px;
  z-index: 15;
}

/* latest deals */

h6{
   margin-top: 133px;
}
p.deal-para{
    margin-top: 15px;
}

.deal-header{
  font-size: 50px;
  text-align: center;
}
.deal-para{
  font-size: 22px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 16px;
  text-align: center;

}

/* deal images */
.deal-container{
display: flex;
justify-content: space-between;
align-items: center;
height: 423px;
width: 100%;
gap: 28px;
margin-block: 100px;

}

.left-deal{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.right-deal{
  width: 65%;
  height: 100%;
  font-size: 2rem;

}
.deal-container a{
    color: white;
  }
.first-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.second-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.third-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}